 @import '../scss/bootstrap.scss'; 
 @import 'variables2';
 @import 'mixins2';
 
 
 h1{
    font-size: $h1-size;
    font-family: roboto;
    
 }
 h2{ 
    font-size: $h2-size;    
 }
 h3{
   font-size: $h3-font-size;
 }
 h4{
   font-size: $h4-font-size;
 }
 h5{
   font-size: $h5-font-size;
 }
 p{
   font-size: $h4-font-size;
 } 
 .text-sm{
  font-size: $h4-font-size;
 }
 i{
   color: $white;
 }

 a{
  text-decoration: none;
  padding: 0 10px;
 }
   

.reset{
  padding: 0;
  margin: 0;
}
.rojo{
  color: red;
}
 